# Default ignored files
/shelf/
/workspace.xml
../.idea/
../config/
/inspectionProfiles/profiles_settings.xml
/facial_recognition.iml
/misc.xml
/modules.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
../.venv/*
../package/*
../function.zip